<footer class='app-footer'>
    <ul class='menu-items-list'>
        <li class='menu-item'>About</li>
        <li class='menu-item'>Contacts</li>
        <li class='menu-item'>Help</li>
    </ul>
</footer>