.app-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: navy;
    height: 59px;

    ul {
        list-style-type: none;
        margin: 0;
    }

    .menu-items-list {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .menu-item {
            color: white;
            display: block;
            padding: 0.5rem 1rem;
            font-weight: bold;
        }
    }
}
