<label>Search</label>
<div class="form-group">
  <label>Search</label>
  <div class="search-bar">
    <input type="text" placeholder="Search article" [formControl]="searchTerm" />
  </div>
</div>
<a [routerLink]="'/articles/create'">Create!</a>
<dar-articles-list [articles]="articles$ | async" (rowClicked)="rowClickHandler($event)"></dar-articles-list>
