.form {
  width: 90%;

  input[type="text"] {
    min-width: 320px;
  }

  .form-group {
    text-align: start;
    select {
      min-width: 320px;
      padding: 0.5rem;
    }
  }

  .tag {
    display: flex;
    align-items: center;

    button {
      margin-left: 5px;
      cursor: pointer;
      width: max-content;
      height: min-content;
    }
  }

  .error {
    color: red;
    margin: 5px;
  }

  button {
    background-color: navy;
    color: white;
    padding: 0.5rem 0.75rem;
    margin: 0;
    border-radius: 5px;
    outline: none;
    border: none;

    &:disabled {
      background-color: rgb(141, 141, 141);
      color: rgb(221, 221, 221);
    }
  }

}
