.search-bar{
  button {
    background-color: navy;
    color: white;
    padding: 0.5rem 0.75rem;
    margin: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;

    &:disabled {
      background-color: rgb(141, 141, 141);
      color: rgb(221, 221, 221);
    }
  }

}
