<label>Search</label>
<div class="form-group">
  <label>Search</label>
  <div class="search-bar">
    <input type="text" placeholder="Category name" [(ngModel)]="searchTerm" (ngModelChange)="modelChanges()" />
    <button class="form-button" (click)="onSearchClick()" [disabled]="searchTerm.length < 3">
      Search
    </button>
  </div>
</div>
<dar-categories-list [categories]="categories$ | async" (rowClicked)="rowClickHandler($event)"></dar-categories-list>
