:host {
  background-color: #eeeeee;
  width: 240px;
}

.app-sidenav {
  height: 100%;

  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;

    .nav-item {
      font-size: 1.2rem;

      a {
        text-decoration: none;
        color: navy;

        &.active {
          font-size: 1.2rem;
          color: orange;
          text-decoration: underline;
        }

      }

      &.disabled {

        a {
          color: grey;
          pointer-events: none;
        }
      }
    }
  }
}
