.category-elements{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;

  .form {
    width: 90%;

    input[type="text"] {
      min-width: 320px;
    }

    .form-group {
      text-align: start;
    }

    .error {
      color: red;
      margin: 5px;
    }

    button {
      background-color: navy;
      color: white;
      padding: 0.5rem 0.75rem;
      margin: 5px 10px;
      border-radius: 5px;
      outline: none;
      border: none;

      &:disabled {
        background-color: rgb(141, 141, 141);
        color: rgb(221, 221, 221);
      }
    }

  }
}


