<div class="category-elements" *ngIf="category; else noCategory">
  <p class="category-id">
    ID: {{category.id}}
  </p>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" formControlName="title" />
      <div class="error" *ngIf="form.controls.title.errors">
        <div *ngIf="form.controls.title.errors.required">
          This field is required.
        </div>
        <div *ngIf="form.controls.title.errors.minlength">
          The min length of this field is {{form.controls.title.errors.minlength.requiredLength}}.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Order</label>
      <input type="text" formControlName="sort" />
      <div class="error" *ngIf="form.controls.sort.errors">
        <div *ngIf="form.controls.sort.errors.required">
          This field is required.
        </div>
      </div>
    </div>
    <button type="submit">Save</button>
  </form>
</div>
<ng-template #noCategory>
  No category for such id
</ng-template>
