<div class="articles-list">
    <table class="articles-table" *ngIf="articles && articles.length; else noArticles">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Created at</th>
        </tr>
        <tr *ngFor="let article of articles" (click)="rowClickHandler(article)">
            <td>{{article.id}}</td>
            <td>{{article.title}}</td>
            <td>{{article.category_id}} {{article.category_title}}</td>
            <td>{{article.created_at | date}}</td>
        </tr>
    </table>
    <ng-template #noArticles>
        <div>No articles found</div>
    </ng-template>
</div>
