@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 14px;
  height: 100vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px auto;
  padding-left: 5px;
  font-size: 0.75rem;

  label {
    margin-bottom: 5px;
  }

  input[type="text"] {
    padding: 0.5rem 1rem;
    color: black;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    margin-bottom: 5px;
    outline: none;
  }

  select {
    min-width: 320px;
    padding: 0.5rem;
    outline: none;
  }
}
