<dar-header></dar-header>
<div class="app-container">
  <dar-sidenav></dar-sidenav>
  <div class="app-content" style="text-align: center">
    <router-outlet></router-outlet>
  </div>
</div>
<dar-footer></dar-footer>
