<div class="article-elements" *ngIf="article; else noArticle">
  <p class="article-id">
    ID: {{article.id}}
  </p>
  <dar-article-form
  [form] = "form"
  [categories]="categories$ | async"
  (formSubmit)="onSubmit()"
  (addTag)="addTag()"
  (removeTag)="removeTag($event)"
  ></dar-article-form>
</div>
<ng-template #noArticle>
  No article for such id
</ng-template>
