.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 128);
  height: 59px;

  p {
    padding: 1rem;
    color: white;
    font-weight: bold;
  }
}
