.categories-list{
  .categories-table {
    width: 100%;

    th {
      background-color: rgba(0, 0, 128, 0.308);
      padding: 0.5rem;
    }

    tr {
      cursor: pointer;

      &:hover{
        background-color: rgba(0, 0, 128, 0.534);
        color: white;
      }
    }

    td {
      text-align: left;
      padding: 0.5rem;
    }
  }
}
